{# ################################################################################## #}

<div id="tab5" class="onglet">

    <h3>Formation</h3>
    
    <table class="projet"><tbody>
	<tr>
	    <th colspan="2">Êtes-vous intéressés par des formations organisée par {{mesoc}} ou un partenaire ?<br>
	    <em><small>Si oui cochez indiquez le nombre de collaborateurs éventuellement intéressés</small></em></th>
	</tr>
	{% for item in form %}
	    {# On sélectionne les champs form_getDemFormN #}
	    {% if item.vars.id|slice(0, 12) == "form_demForm" %} 
	    <tr>
		<th class="horiz">{{ form_label( item) }}</th><td>{{ form_widget( item) }}</td>
	    </tr>
	    {% endif %}
	{% endfor %}
    </tbody></table>

</div>
