{% extends 'default/base.html.twig' %}

{% block body %}

<section id="section_changerResponsable" >
<h1>Passer la responsabilité du projet</h1>

<div class="information ok">
Vous avez la possibilité de passer la responsabilité du projet à un autre collaborateur(trice)
à condition que cette personne ait <strong>un poste permanent</strong> dans un <strong>laboratoire de la région</strong>
</div>

<div id="formulaire" class="inputrond submitdyn">
{{ form_start(change_form) }}
{{ form_widget(change_form.responsable) }}{{ form_widget(change_form.submit) }}
{{ form_end(change_form) }}
</section>

{% endblock %}
