*.pdf
*.php_*
*.sql
*.sql.gz
*.csv
*.bkp
*.tar
*.tgz
var.*
data/*
*#
*~
tests_fonctionnels/sql/*
web/tmp/*
src/cache/*

/app/config/parameters.yml
/app/config/parameters.*.yml
parameters.yaml
/build/
/phpunit.xml
!/var/CACHEDIR.TAG
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/log
/var/log/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/mesocentres/**/banniere.png
/mesocentres/**/favicon.ico
config/packages/security.yaml

altermeso
config/adresses.txt

.env
.env.local
adminer\.php

public/index.php

vendor/**
tools/phpstan/**
tools/php-cs-fixer/**
