{# app/Resources/views/default/connexion_dbg.html.twig #}
{% extends 'default/base.html.twig' %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="information attention">

    <h2>Erreur de déconnexion</h2>Vous ne devez pas accéder cette page directement, vous n'êtes pas déconnecté</div>
{% else %}    
    <div class="information attention">

    <h2>Déconnexion</h2>Pour finaliser la déconnexion, veuillez arrêter <strong>complètement</strong> votre navigateur</div>
    
    <script>document.querySelector('.fermer_navigateur').addEventListener('click', ()=>{window.open('', '_self', '');
       window.close();})</script>
{% endif %}

    
{% endblock %}
 
