{# commenté car l'utilisateur lit "Bonjour [son nom]" et sait qu'elle est authentifiée
{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="{{ type }}" role="alert" >
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
#}