{% extends 'default/base.html.twig' %}

{% import "default/macros.html.twig" as gramcmacros %}

{% block body %} 
<section class="section_president">

<h1>La page du président</h1>

<div>
    {{ gramcmacros.menu(menu) }}
</div>

</section>
<br> 
{% endblock %}
