{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}


{% block body %}

<section>
    <div class="information attention">
        <h2>En ligne de commande !</h2>
            <p>Cette fonction doit être exécutée en ligne de commande:<br>
                Pour supprimer les données des projets terminés il y a 1 an ou plus<br>
                <tt>bin/console rgpd 10</tt> <br>
                <strong>Faites d'abord une sauvegarde de la base de données et du répertoire data !</strong>
            </p>
    </div>
</section>
{% endblock %}
