{% extends 'default/base.html.twig' %}
{% import "default/macros.html.twig" as gramcmacros %}


{% block body %}

<div class="warning"><h2>En ligne de commande !</h2>
<p>Cette fonction doit être exécutée en ligne de commande:<br />
<tt>bin/console rgpd 10</tt> pour supprimer les données des projets terminés il y a 10 ans ou plus<br />
<strong>Faites d'abord une sauvegarde de la base de données et du répertoire data !</strong>
</p>
</div>

{% endblock %}
