{# app/Resources/views/default/connexion_dbg.html.twig #}
{% extends 'default/base.html.twig' %}


{% form_theme form with ['form_table_layout.html.twig', _self] %}

    {% block body %}
    
    <section class="section_dbg">
        <h2>Veuillez vous identifier</h2>
    <div class="information">
        <h2>ATTENTION</h2>
        <em>Authentification uniquement pour debug</em>
    </div>
    
    {{ form_start(form) }}
    
    {{ form_end(form) }}
    </section>
    
    {% endblock %}
 
