---

# Learn more about services, parameters and containers at
# https://symfony.com/doc/current/service_container.html
parameters:
    # parameter_name: value

    # Identifications diverses du mésocentre et de la documentation
    mesoc: CALMIP
    mesoc_web: 'https://www.calmip.univ-toulouse.fr'
    mesoc_cgu: 'https://www.calmip.univ-toulouse.fr/cgu'
    mesoc_visu: 'https://www.calmip.univ-toulouse.fr/spip.php?article463'
    mesoc_attrib: 'https://www.calmip.univ-toulouse.fr/spip.php?article19'
    mesoc_merci: 'https://www.calmip.univ-toulouse.fr/spip.php?article337'
    mesoc_formation: 'https://www.calmip.univ-toulouse.fr/spip.php?rubrique15'
    
    mesoc_address: 'CALMIP - Espace Clément Ader - 3 rue Caroline Aigle - 31400 TOULOUSE'

    # Si false, on n'affiche pas la case login dans l'écran collaborateurs
    # La gestion des mots de passe est elle aussi désactivée
    coll_login: true

    # Si la demande en session A est supérieure à attrib_seuil_a (en hcpu), on surveille la demande en B
    attrib_seuil_a: 600000
    
    # Mécanisme de récupération des heures attribuées mais non consommées en Juin
    # recup_attrib_seuil (hcpu)    = on ne récupère que pour des attributions supérieures à ce seuil
    # recup_conso_seuil (%attrib)  = on ne s'occupe que des projets avec cono inférieure à ce seuil
    # recup_attrib_quant (%attrib) = partie de l'attribution récupérée
    recup_attrib_seuil: 300000
    recup_conso_seuil: 30
    recup_attrib_quant: 50
    
    # La récup est proposée entre les mois de Mai et Août (inclus)...
    recup_printemps_d: 5
    recup_printemps_f: 8
    
    #...ou entre les mois de Septembre et Octobre pour les heures attribuées pour l'été (Juillet et Août) et non consommées
    recup_automne_d: '09'
    recup_automne_f: 10

    # En %attribution, permet d'indiquer les projets qui ont bientôt épuisé les quotas (écran projets par année)
    conso_seuil_1: 70
    conso_seuil_2: 90
    
    # format max des figures associées à une description de projet
    max_fig_width: 800
    max_fig_height: 400
    
    # ATTENTION - Il faut choisir: rapport d'activité OU fichier attaché, PAS les deux !
    #             C'est redondant et si on a les deux à true ça va entraîner des dysfonctionnements
    #             Les deux à false, pas de pb
    #             Si mis à true, rapport d'activité (annuel) demandé à la fin de l'année
    rapport_dactivite: true

    # Si mis à true, propose de téléverser un fichier attaché à chaque version
    fichier_attache: false
       
    # nb de pages max pour un rapport d'activité ou un fichier attaché
    max_page_nb: 5
    
    # taille max du fichier de rapport d'activité ou fichier attaché
    # ATTENTION - Doit être en cohérence avec le paramètre post_max_size défini dans php.ini !
    #             Et peut-être aussi avec le paramètre équivalent si on est derrière un proxy !
    #             Unité = Mo
    max_size_doc: 10
    
    # Suppression de toutes les fonctionnalités liées à la consommation
    noconso: false
    
    # Suppression de la notion de rattachement administratif
    norattachement: false
    
    # Suppression des formulaires concernant les données (stockage et partage)
    nodata: false

    # Si true, le resp de projet peut modifier le profil de ses collaborateurs
    resp_peut_modif_collabs: true

    # Si != 0, le mécanisme des invitations est désactivé
    noinvitation: 0

    # Suppression d'une étape dans le workflow des sessions
    # Cette étape est utile si on a un comité d'attribution constitué,
    # car elle vient APRES la réunion: on attend la réunion ET l'entrée du commentaire de session
    # pour pour laisser les experts envoyer les expertises !
    noedition_expertise: false

    # Fonctionnalité permettant d'affecter des heures spéciales pour l'été (en session B uniquement) #}
    heures_ete: true
    
    # Nombre max de rallonges par projet et par session
    max_rall: 2
    
    # Préfixe associé au nom du projet, dépend du type de projet
    prj_prefix:
        1: P
        2: T

    # Ressources dont on peut visualiser la consommation
    ressources_conso_group:
        1:
            type: calcul
            ress: 'cpu,gpu'
            nom: 'Heures normalisées'
            unite: h
        2:
            type: stockage
            ress: work_space
            nom: 'Espace work'
            unite: Tio

    ressources_conso_user:
        1:
            type: calcul
            ress: 'cpu,gpu'
            nom: 'Heures normalisées'
            unite: h
        2:
            type: stockage
            ress: home_space
            nom: Home
            unite: Gio
        3:
            type: stockage
            ress: tmpdir_space
            nom: tmpdir
            unite: Gio

    # Nombre max d'experts par version de projet
    max_expertises_nb: 1
    
    # Les experts peuvent entrer un commentaire général entre les mois de mai et de mars
    commentaires_experts_d: 5
    commentaires_experts_f: 3
    
    # Répertoires de données
    signature_directory: '%kernel.project_dir%/data/fiches'
    rapport_directory: '%kernel.project_dir%/data/rapports'
    fig_directory: '%kernel.project_dir%/data/figures'
    dfct_directory: '%kernel.project_dir%/data/dfct'
    
    # Heures fixes pour les projets tests
    heures_projet_test: 5000
    
    # Seuil à partir duquel on ne peut plus créer de projet au fil de l'eau (ou "agile", ou "dynamique")
    prj_seuil_sess: 100000

    # Nombre d'heures minimal pour un projet
    prj_heures_min: 50000
    
    # Différents mails
    mailadmin: admin.calmip@univ-toulouse.fr
    mailsupport: support.calmip@univ-toulouse.fr
    mailfrom: ne-pas-repondre@calmip.univ-toulouse.fr
    
    # Utilisé pour le nettoyage du journal et aussi des projets (pour le respect du rgpd)
    # En années
    old_journal: 10
    
    # Durée de vie du mot de passe temporaire géré par gramc
    pwd_duree: P30D

    # La durée de vie d'une invitation
    invit_duree: P15D
    
    # Les IDP les plus importants - Sur la fédération de dev on se limite aux comptes CRU on sait qu'ils fonctionnent
    IDPprod:
#        CNRS: 'https://janus.cnrs.fr/idp'
#        'Université de Toulouse 3 Paul Sabatier': 'https://shibboleth.ups-tlse.fr/idp/shibboleth'
        'Comptes CRU': 'urn:mace:cru.fr:federation:sac'
#        'INPT - Institut National Polytechnique de Toulouse': 'https://idp.inp-toulouse.fr/idp/shibboleth'
        AUTRE: WAYF

    # Parametres de connexion du supercalculateur pour envoyer la consommation
    # voir .env.local
    password_consoupload: '%env(PASSWORD_CONSOUPLOAD)%'
    
    # Pour crypter les cookies
    secret: '%env(APP_SECRET)%'
